#!/bin/bash

# Command aliases
alias vi="vim"
alias grep="grep -n --color=always"
alias less="less -R"
alias n="nautilus ./"
alias tree="tree -CA"
alias gh="cat /etc/hosts | grep"
alias tt="tramtracker"
alias gpg="gpg2"
alias pyhttp="python -m SimpleHTTPServer"
alias rbhttp="ruby -run  -e httpd . -p 9090"

# Lazy aliases
alias ls="ls --color=always"
alias l="ls"
alias ll="ls -lh"
alias la="ls -a"
alias lal="ls -alh"

# Bundler helpers (be, brake, brails, etc.)
BE_ALIASES=(ruby rake rails rspec cucumber rackup)
alias be="bundle exec"
for a in ${BE_ALIASES[@]}; do
  alias b$a="bundle exec $a"
done
